body {
	margin: 0;
	padding: 0;
	background-color: #e2e2e2;
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h2 {
	font-weight: normal;
}
.nav {
	background: #fff;
	padding: 10px;

	li {
		display: inline-block;
		margin: 0 20px;
	}

	a:link, a:visited {
		color: #556;
	}
	a:hover {
		color: #99a;
	}
}

#wrapper {
	text-align: center;
	background-color: #e2e2e2;
}
.content {
	width: 970px;
	margin: 0 auto;
}

.answer,
.postLink {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #e2e2e2;
}

.answerNodes {
	padding: 20px;
	font-size: 14px;
	text-align: left;
	border-bottom: 1px solid #e2e2e2;

	a {
		color: #778087;
		&:hover {
			color: #4d5256;
			text-decoration: underline;
		}
	}
	.summary a {
		color: #0e78e7;
	}
}

.title {
	font-size: 16px;
}

.answerContent:before,
.answerContent:after {
	content: " ";
	display: table;
	clear: both;
}

.answerContent {
	/*display: table;*/
	/*vertical-align: top;*/
}

.answerContent .summary {
	/*display: table-cell;*/
	/*vertical-align: top;*/
	/* float: left;
	margin-left: 23px;
 	width: 80%;*/
}

.answerContent .img {
	/*display: table-cell;*/
	float: left;
}

.answerContent .img img {
	width: 60px;
}

.vote {
	color: #b7b7b7;
	margin-right: 10px;
	margin-left: 10px;
}
